
.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  display: none;
}
.pop-up_opened {
  display: block;
}

.pop-up__overlay {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  opacity: 0.5;
  background-color: #000000;
  z-index: 1;
}

.form {
  display: flex;
  flex-direction: column;
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  margin: auto;
  padding: 0;

  max-width: 430px;
  max-height: 330px;
  border-radius: 10px;

  background-color: white;
  color: black;
  z-index: 1;

  justify-content: center;
  align-items: center;
}
@media screen  and (max-width: 530px) {
  .form {
    width: 88.125%
  }  
}

.form__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em; 
  
  margin: 34px auto 54px auto;
  padding: 0;

  width: 83.2558%;


}

.form__name {
  width: 83.2558%;

  margin: 0 auto;
  padding: 0;

  border: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.form__profesion {
  width: 83.2558%;

  margin: 0 auto;
  padding: 0;

  border: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.form__line {
  width: 83.2558%;
  height: 0;

  margin: 13px auto 0 auto;
  padding: 0;

  border-bottom: 0.5px solid #000000;
  opacity: 0.2;
}
.form__line:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

.form__save-button {
  background-color: black;
  color: white;
  
  margin: 48px auto 0 auto;
  padding: 14px 0 18px 0;

  width: 83.2558%;

  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;

  cursor: pointer;

}

.close-button {
  position: absolute;
  
  left: 438px;
  bottom: 338px;
  
  margin: 0;
  padding: 0;
  border: 0;

  background-color: black;
  background-image: url(/img/Close\ Icon.svg);
  
  height: 32px;
  width: 32px;

  cursor: pointer;
}