.elements {
  max-width: 880px;

  margin: 0 auto;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(3, 282px);
  justify-content: center;
  column-gap: 17px;
  row-gap: 20px;
}

@media screen and (max-width: 917px) {
  .elements {
    grid-template-columns: repeat(2, 282px);
  }
}

@media screen and (max-width: 618px) {
  .elements {
    grid-template-columns: 282px;
  }
}

.element {
  display: flex;
  flex-direction: column;
    
  max-width: 282px;

  margin: 0;
  padding: 0;

  background-color: white;
  color: black;

  border-radius: 10px;

  overflow: hidden;

}

.element__block {
  display: flex;
  justify-content: space-between;

  max-width: 246px;

  margin: 25px 21px 31px 20px;
  padding: 0;
}

.element__img {
  max-width: 100%;
}

.element__name {
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;

  margin: 0;
  padding: 0;
}

.element__like-img {
  max-width: 22px;
  max-height: 19px;

  align-self: center;
}