.pop-up__line {
  width: 83.2558%;
  height: 0;
  
  margin: 13px auto 0 auto;
  padding: 0;
  
  border-bottom: 0.5px solid #000000;
  opacity: 0.2;
}
.pop-up__line:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}